.App__Home {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    
}

.App__Home-loading {
    display: flex;
     height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}







