.App__Review {
 display: block;
}
.App__Review-loading {
    display: flex;
     height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.App__Review-image {
    padding: 3.5em 0.5em 0.5em 0.5em;
}

.App__Review-image img {
    width: 100%;
}

.App__Review-content {
    padding: 0.5em;
}
.App__Review-content h2 {
    margin-bottom: 0.5em;
}
.App__Review-info {
    margin-top: 0.5em;
    display: flex;
    justify-content: left;
    margin-bottom: 1em;
}

.App__Review-info p:last-child {
    border-left: 1px solid gray;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.App__Review-by {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.App__Review-likes {
    display: flex;
    align-items: center;
}
.App__Review-likes p {
    font-weight: 600;
}
.App__Review-icon_like {
    background-image: var(--icon-like);
    
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-left: 1em;
    margin-top: 0.5em;
}
.App__Review-icon_liked {
    background-image: var(--icon-like);
    filter: invert(29%) sepia(73%) saturate(2186%) hue-rotate(222deg) brightness(106%) contrast(100%);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-left: 1em;
    margin-top: 0.5em;
}
.App__Review-icon_dislike {
    background-image: var(--icon-dislike);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-top: 0.5em;
}
.App__Review-icon_disliked {
    background-image: var(--icon-dislike);
    filter: invert(47%) sepia(84%) saturate(1636%) hue-rotate(333deg) brightness(103%) contrast(101%);
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-top: 0.5em;
}
.App__Review-comments {
    margin:0.5em;
}
.App__Review-comment_form {
    display: flex;
    flex-direction: column;
}
.App__Review-comments ul {
    list-style: none;
}

