* {
    padding: 0;
    margin: 0;
}
.Link {
    text-decoration: none;
}

:root {
    --icon-info: url('./Assets/Info.svg');
    --icon-search: url('./Assets/Search.svg');
    --icon-back: url('./Assets/Back.svg');
    --icon-like: url('./Assets/Like.svg');
    --icon-dislike: url('./Assets/Dislike.svg');
    --icon-submit: url('./Assets/Submit.svg');
}